<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a href="jaimebarrigadesign.com">Jaime Barriga</a> as an assignment for <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>.  Jaime got his degree in Computer Science from Worcester Polytechnic Institute, and is using this class to learn more about building web applications.  So far so good!
	</p>

	<p>
		If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'JaimeBird.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Jaime Barriga</h2>
		<br/>
		<p>
			Jaime is a Software Engineer and UX designer.  In his spare time, he designs board games, and his game <a href="quickfightgame.com">'QuickFight: A Legacy Game'</a> was featured as a tabletop showcase game at the 2015 Boston Festival of Indie Games.
		</p>
	</div>

	<br class="clear" />
	<br/>
	<br/>
	<br/>
	<br/>


</div>